# Port sur lequel le serveur tournera
PORT=5000

# URI de connexion pour la base de données MongoDB.
# Pour le développement, le serveur utilise une base de données en mémoire, donc cette variable n'est pas strictement nécessaire, mais elle est là pour la production.
DATABASE_URI=mongodb://localhost:27017/chapelle-conquerants

# Une chaîne de caractères longue et aléatoire utilisée pour signer les jetons JWT.
# IMPORTANT : Changez cette valeur pour votre propre secret en production !
JWT_SECRET=votre_super_secret_ici
